body{
 color:cadetblue;  
 background: darkseagreen;
 margin: 0px;   font-family: "Merriweather", serif;
}     

 header { border-bottom: solid 2px black;
padding:20px;
font-size: 28;
color:black;
}
section {       
    background: black;
    padding-bottom: 80px;
    padding-top:80xp;
    display: flex;
    justify-content:center;

}
chamada-texto {    
    margin-right: 5%;
         }

        h1 {  font-size: 35;  }    
        p {  font-size: 20;  }
      
        
        img{
          height: 250px;

        }
        .categoria-videos{
          display: flex;
          overflow-x: auto;
          gap: 10px;
        }
         .categoria {
          padding-left: 20px;
          padding-right: 20px;
         }
.categoria-videos img { opacity: 0.5;
  height: 200px;
}

.categoria-videos img:hover 
 {
 opacity: 1,0;
}

 


